{% extends "layout.html" %}

{% block body %}
<!--libs-->
<style>
    .field-background {
        background-color: #524451;
    }
    .warning-background {
        background-color: #ff7;
        color: black;
    }
    .error-background {
        background-color: #E12834;
        color: white;
    }
    .custom-file-label::after {
        background-color: #dc3545!important;
        color: inherit;
        border-color: inherit;
    }






</style>
<link rel="stylesheet" href="/static/js/lib/codemirror.css">
<link rel="stylesheet" href="/static/js/themes/hopscotch.css">
<script src="/static/js/lib/codemirror.js"></script>
<script src="/static/js/addon/search/searchcursor.js"></script>
<script src="/static/js/addon/selection/mark-selection.js"></script>
<script src="/static/js/addon/display/placeholder.js"></script>


<!--Body-->
<!--<div class="row">-->
<!--    <div class="jumbotron">-->
<!--        <h1>Navbar example</h1>-->
<!--        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll,-->
<!--            it-->
<!--            will remain fixed to the top of your browser's viewport.</p>-->
<!--        <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>-->
<!--    </div>-->
<!--</div>-->
<div class="row">

    <div class="col-md-3 container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text bg-danger text-light border-dark""
                for="inputGroupSelect01">Version</label>
            </div>
            <select class="custom-select bg-secondary text-light border-dark"" id="inputGroupSelect01">
            <option selected value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </div>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input bg-secondary text-light btn-danger"
                       id="inputGroupFile02">
                <label class="custom-file-label bg-secondary text-light border-dark"
                       for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
            </div>
        </div>
    </div>
    <div class="col-md-9 container">
        <form id="code-editor"><textarea id="code" name="code"
                                         placeholder="Drag and Drop RTLOG file Here..."></textarea></form>
    </div>
</div>
<script>
    //document.addEventListener('DOMContentLoaded', () => {
        var original_content;
        var rtlog_format;
        var line_marks;
        var tooltips;
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            styleSelectedText: true,
            readOnly: true
        });

        editor.setOption("theme","hopscotch");
        editor.setSize("100%",window.innerHeight - 100);

        //clear the editor, paste file
        editor.on("drop",function(editor,e) {
            //prevent default drop event
            e.preventDefault();

            //read the file and send to editor
            var reader = new FileReader();
            reader.onload = function(){
                var text = reader.result;
                original_content = text;
                editor.setValue(text);
            };
            reader.readAsText(e.dataTransfer.files[0]);
        });

        editor.on("beforeChange",function(editor,e) {
            //Call validator
            var jsonObj = {"rtlog_string" : original_content }

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    // Typical action to be performed when the document is ready:
                    var response = JSON.parse(xhttp.responseText);
                    rtlog_format = response['rtlog_format'];
                    line_marks = response['line_marks'];
                    tooltips = response['tooltips'];
                    e.update(e.from,e.to,response['rtlog_string'].split('\n'),e.origin);
                }
            };
            xhttp.open("POST", "/api_resa/validate/", false);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(jsonObj));
        });

        editor.on("change",function(editor,e) {
            editor.getAllMarks().forEach((mark) => { mark.clear() });
            line_marks.forEach((el) => {
                    editor.markText({line: el['line'], ch: el['start_pos']},
                                    {line: el['line'], ch: el['end_pos']},
                                    {className: el['name'] +' field-background'});
                }
            );
        });

        editor.on("update", function(editor,e) {
            console.log("update trigger");
            console.log(e);
            tooltips.forEach((el)=>{
                $("."+el['name']).each((index, element) => {
                    $(element).tooltip({
                        placement: 'top',
                        title: el['infos'],
                        html: true
                    });
                })
            });
        });







</script>
{% endblock %}
