<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Retail Swiss Army Knife</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/46fb0e0e66.js" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <style>
    body {
        padding-top: 4.5rem;
    }



    </style>
</head>

<body class="bg-dark">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-danger">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/static/swiss-army-knife-w.png" width="35"
                                                  style="transform:rotate(-55deg);"
                                                  class="d-inline-block align-top"> Retail Swiss Army Knife</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Page1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Page2</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block body %}
    {% endblock %}
</main>


<footer class="page-footer font-small text-light bg-danger">

    <div class="bg-secondary">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <!--                    <a class="fb-ic">-->
                    <!--                        <i class="fab fa-facebook-f white-text mr-4"> </i>-->
                    <!--                    </a>-->
                    <!-- Twitter -->
                    <a class="tw-ic text-light" href="https://twitter.com/thi_we">
                        <i class="fab fa-twitter white-text mr-4"></i>
                    </a>
                    <!-- Google +-->
                    <a class="gh-ic text-light" href="https://github.com/thig0w">
                        <i class="fab fa-github white-text mr-4"></i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic text-light" href="https://www.linkedin.com/in/igor-thiago-weidman-819b6824/">
                        <i class="fab fa-linkedin-in white-text mr-4"></i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Company name</h6>
                <hr class="border-light mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <!--            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">-->

            <!--                &lt;!&ndash; Links &ndash;&gt;-->
            <!--                <h6 class="text-uppercase font-weight-bold">Products</h6>-->
            <!--                <hr class="border-light mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
            <!--                <p>-->
            <!--                    <a class="text-light" href="#!">MDBootstrap</a>-->
            <!--                </p>-->
            <!--                <p>-->
            <!--                    <a href="#!">MDWordPress</a>-->
            <!--                </p>-->
            <!--                <p>-->
            <!--                    <a href="#!">BrandFlow</a>-->
            <!--                </p>-->
            <!--                <p>-->
            <!--                    <a href="#!">Bootstrap Angular</a>-->
            <!--                </p>-->

            <!--            </div>-->
            <!-- Grid column -->

            <!-- Grid column -->
            <!--            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">-->

            <!--                &lt;!&ndash; Links &ndash;&gt;-->
            <!--                <h6 class="text-uppercase font-weight-bold">Useful links</h6>-->
            <!--                <hr class="border-light mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
            <!--                <p>-->
            <!--                    <a href="#!">Your Account</a>-->
            <!--                </p>-->
            <!--                <p>-->
            <!--                    <a href="#!">Become an Affiliate</a>-->
            <!--                </p>-->
            <!--                <p>-->
            <!--                    <a href="#!">Shipping Rates</a>-->
            <!--                </p>-->
            <!--                <p>-->
            <!--                    <a href="#!">Help</a>-->
            <!--                </p>-->

            <!--            </div>-->
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="border-light mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <!--                    <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>-->
                <p>
                    <i class="fas fa-envelope mr-3"></i>thiago@weidman.com.br</p>
                <p>
                    <i class="fas fa-phone mr-3"></i>+ 55 41 99967-1114</p>
                <p>
                    <!--                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>-->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Thiago Weidman
    </div>
    <!-- Copyright -->

</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
